.mcdh-beijing {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 8;
}

.mcdh-update {
  z-index: 999;
  background-size: cover;
  width: 691px;
  height: 450px;
  margin: auto;
}

.mcdh-update>.mcdh-authorq {
  z-index: 999;
  width: 238px;
  height: 431px;
  background-size: 100% 100%;
  background-image: url("image/author/authorQQ.jpg");
}

.mcdh-update>.mcdh-authorg {
  z-index: 999;
  width: 238px;
  height: 431px;
  left: 238px;
  background-size: 100% 100%;
  background-image: url("image/author/extensionQQ.jpg");
}


