/* 
	当前设备如果已经安装local里的字体，可以极致提升游戏加载速度；
	你也可以自行修改下面local里的字体，但得确保你已经安装该字体；
	以下的名称参照github.com/libccy/noname/tree/master/font列表；
	如果你安装完以下字体后需要重启无名杀APP；
	注：以下设置仅在PC端测试有效，手机端未测，但是手机端第一次加载后会缓存字体，所以有没有都无所谓；
*/

/* 用于技能和身份的字体 */
/*@font-face {
	font-family: 'HYZLSJ';
	src: url('../手杀ui/fonts/HYZLSJ.woff2);
}*/

/*手杀*/
@font-face {
	font-family: 'shousha';
	src: local('方正隶变_GBK'), url("assets/5d017de466e1971f17be6a89.woff2");
}

/*黄草*/
@font-face {
	font-family: 'huangcao';
	src: local('方正黄草简体'), url("assets/e6a12e22f2cb2827454705f6.woff2");
}

/*小篆*/
@font-face {
	font-family: 'xiaozhuan';
	src: local('方正小篆体'), url("assets/192e3ff6caece6ca8982abee.woff2");
}

/*行楷*/
@font-face {
	font-family: 'xingkai';
	src: local('方正行楷_GBK'), url("assets/fe5d21d3d31dec9753e4eef3.woff2");
}

/*新魏*/
@font-face {
	font-family: 'xinwei';
	src: local('华文新魏'), url("assets/74286306094aad8db475b3f0.woff2");
}

/*圆隶*/
@font-face {
	font-family: 'yuanli';
	src: local('方正北魏楷书_GBK'), url("assets/37a8f61c056bbbdc30a13b57.woff2");
}

/*花色*/
@font-face {
	font-family: 'Suits';
	src: local('Noname Suit'), url("assets/d9a24cdd6da0a100b8ded22e.woff2");
}